* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif;
}

body {
    background-image: url('assets/blue-sky.jpg');
    background-size: cover;

    transition: .3s;
}

body.dark-mode {
    background-image: url('assets/space.jpg');
}

button {
    width: 200px;
    height: 200px;

    border: 2px solid #ffce3b;
    border-radius: 50%;
    box-shadow: 0 0 50px #ffce3b;
    
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    
    cursor: pointer;
    
    background: #ffe7a1;
}

.content {
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
    
    gap: 1rem;
}

h1 {
    background-color: rgb(108, 173, 235);
    padding: .5rem 1rem;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 2rem;
    color: rgb(29, 29, 29);
    margin-top: 1rem;
}

/* BODY DARKMODE */

body.dark-mode {
    background-color: #212121;
    color: white;   
}

body.dark-mode button {
    background-color: #e3e3e3;   

    border: 2px solid #e3e3e3;
    border-radius: 50%;

    box-shadow: 0 0 50px #e3e3e3;
}

body.dark-mode h1 {
    background-color: rgb(29, 29, 29);
    padding: .5rem 1rem;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 2rem;
    color: rgb(235, 235, 235);
    margin-top: 1rem;
}